<div class="header">
    <h1>Space Arcade Blog</h1>
  </div>
  
  
  <div class="nav-cards">
    <mat-card>
      <mat-card-title>
        <a routerLink="/">Home</a>
      </mat-card-title>
    </mat-card>

    <mat-card>
      <mat-card-title>
        <a routerLink="/videos">Videos</a>
      </mat-card-title>
    </mat-card>
  
    <mat-card>
      <mat-card-title>
        <a routerLink="/books">Books</a>
      </mat-card-title>
    </mat-card>
  
    <mat-card>
      <mat-card-title>
        <a routerLink="/projects">Projects</a>
      </mat-card-title>
    </mat-card>
  
  </div>